
h1 {

    font-size: 40px;
    padding-bottom: 30px;
    text-align: center;
}

.form-text {
    font-size: 25pt;
    padding: 10px;
    margin-top: 15pt;
}

.form {
    font-size: 19pt;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;

}

.button {
    padding: 10px;
    margin-left: 5px;
}

.button :hover {
    opacity: 0.7;
}

.ok {
    color: green;
    display: none;
}

.error {
    color: red;
    display: none;
}

.pagination {
    justify-content: center;
}

.one-word {

    font-size: 20px;

}

.all-words {
    margin-top: 30pt;
    width: 160%;
    font-size: 22px;
}

.functions {
    display: flex;
    justify-content: center;
}

